#red {
  background: red;
}

#blue {
  background: lightblue;
}

#green {
  background: lightgreen;
}

#orange {
  background: orange;
}

.intro-section {
  display: inline;
}

#color-display {
  margin-top: 20px; 
}